label {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
button {
  margin: 5px 10px;
  background-color: #0a0131ab;
  color: white;
  border-radius: 7px;
  border-color: #0a0131ab;
}
button:hover {
  background-color: white;
  color: #0a0131ab;
  border-color: #0a0131ab;
}
.contactform {
  width: 300px;
  padding: 20px;
  display: block;
  border: 1px solid #477405;
}
